<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Avatar Page</title>
    <style>
        .container{
            height: 100%;
            margin-top: -15%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h2 class="text-center">Welcome <span id="username" style="display: block;"><%= name %></span></h2>
    <h3 class="text-center mt-5">Choose an Avatar</h3>
    <div class="container">
        <div class="flex-box">
            <div class="col-12">
                <button class="btn btn-warning" name="Avatar1" onclick="createRoom(this.name)">
                    Avatar 1
                </button>
                <button class="btn btn-warning" name="Avatar2" onclick="createRoom(this.name)">
                    Avatar 2
                </button>
                <button class="btn btn-warning" name="Avatar3" onclick="createRoom(this.name)">
                    Avatar 3
                </button>
                <button class="btn btn-warning" name="Avatar4" onclick="createRoom(this.name)">
                    Avatar 4
                </button>
                <button class="btn btn-warning" name="Avatar5" onclick="createRoom(this.name)">
                    Avatar 5
                </button>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.2.0/dist/socket.io.js"></script>
<script>
    const socket = io.connect();
    const username = document.getElementById('username').innerHTML;
    function createRoom(name) {
        socket.emit('roomCreated', {
            avatar: name,
            roomOwner: username,
        });
    }
    socket.on('redirectToAvatar', () => {
        window.location = '/avatar/' + username;
    });
    socket.on('welcomeToChat', () => {
        window.location = '/chatRoom/' + username;
    })
</script>
</html>